/* Estilos generales */
h1 {
    color: rgb(6, 60, 129);
    font-family: 'Poppins', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}


p, h3, h4, ul {
    font-family: 'Poppins', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}

li {
    font-family: 'Poppins', sans-serif; 
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 

h4 {
    font-size: larger;
}


h1 {
    color: rgb(6, 60, 129);
    font-family: 'Poppins', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}


body {
    background-color:rgb(182, 218, 204);
    padding-top: 0px; /* Ajusta el espacio entre el contenido y la navbar*/
}

/* Imagenes en contenedores */
.contenedor {
    display: flex;
    align-items: flex-start;
    position: relative; /* Permite que los hijos sean posicionados relativamente */
}

.imagen-izquierda {
    width: 250px; /* Ajusta el tamaño de la imagen */
    margin-right: 20px;
    position: relative; /* Posiciona la imagen relativamente al contenedor */
    left: 0; /* Mueve la imagen hacia la izquierda fuera del contenedor */
}

.contenedor { 
    border-color: blue;
}
.cajaConFondo {
    background-color: cadetblue;
}
/* Estilos específicos para las imágenes del footer */
.footer img {
    width: auto;
    margin-right: 0;
    position: initial; /* Restablece la posición a su valor inicial */
    left: initial;     /* Restablece el desplazamiento a su valor inicial */
    display: inline-block; /* Asegura que la imagen esté alineada según el flujo del documento */
}
/* Ajusta el contenido principal para que no quede cubierto por la navbar */
.contenido-principal {
    padding-top: 60px; /* Ajusta según la altura de tu navbar */
}


.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para asegurarte de que la barra esté encima de otros elementos */
}
/* Elimina el subrayado de todos los elementos dentro de la navbar */
.fixed-nav, 
.fixed-nav .navbar-item, 
.fixed-nav .navbar-item * {
    text-decoration: none !important; /* Asegura que nada esté subrayado */
    color: inherit; /* Mantén el color original de los elementos */
}



.fixed-nav.navbar {
    height: 60px; /* ajusta el tamaño de la nabvbar*/
}
.fixed-nav .navbar-item {
    font-size: 14px; /* Ajusta el tamaño de letras en la navbar */
    padding-top: 0;
    padding-bottom: 0;
}