/*por clase*/
.card {
    margin-bottom: 20px; /* Espacio entre cartas */
    /*para cambiar el color de las cards tengo q poner un id*/
}
/*por id*/
#cuadro {background-color: rgb(255, 255, 255);}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 

/*por elemento*/
body{background-color: rgb(170, 225, 241);
}

h1 {
    color: rgb(6, 60, 129);
    font-style: italic;
    text-align: center;
    
}

p, ul {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}
h5{    
    color: rgb(2, 43, 92);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
li {
    font-family: 'Times New Roman', Times, serif; 
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 


