/* selector de tipo elemento */
h1 {
    color: indigo;
    font-style: italic;
    text-align: center;
    
}

p, h3, h4, ul {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}

li {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 


h4 {
    text-align: center;
    font-size: larger;
}

/* h3 clase*/ 
.centro {
    text-align:center;
}

body {
    background-color:rgb(205, 175, 228);
}

#colorsecciones {
    background-color:rgb(183, 141, 219);
}

#fondolistadatos {
    background-color: rgb(198, 189, 207);
}

#violetaindigo {
    color: indigo
}

.fondoclaro { 
    background-color: rgb(163, 127, 194);
}

