/*por clase*/

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 

.notification-is-primary {
    background-color: #f5f7f8; /* Color fondo del cuadro presentación*/
   
}
/* Establecer la navbar como fija en la parte superior */
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra esté encima de otros elementos */
}

/* Ajusta el tamaño de la navbar */
.fixed-nav.navbar {
    height: 70px; /* Ajusta la altura según lo necesites */
}

/* Ajusta el estilo de los elementos dentro de la navbar */
.fixed-nav .navbar-item {
    font-size: 18px; /* Aumenta el tamaño de la fuente si es necesario */
    padding: 10px 25px; /* Ajusta el padding superior e inferior */
}

/* Elimina el subrayado y mantiene el color original de los elementos dentro de la navbar */
.fixed-nav, 
.fixed-nav .navbar-item, 
.fixed-nav .navbar-item * {
    text-decoration: none !important; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color original */
}

/* Ajuste de padding en el body para evitar que la navbar cubra el contenido */
body {
    padding-top: 80px; /* Asegura que el contenido no quede oculto debajo de la navbar */
}

/*por id*/
#cuadro {background-color: rgb(255, 255, 255);}




/*por elemento*/
/*body {
    padding-top: 70px !important; /* Asegura que el contenido no quede oculto */
}

body{background-color: rgb(151, 207, 193);
}

h1 {
    color: rgb(6, 60, 129);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

p, ul {
    font-family: 'Poppins', sans-serif;  
    font-size:larger; 
    justify-content: center;
    align-items: center;
}
h5{    
    color: rgb(2, 43, 92);
    font-family: 'Poppins', sans-serif; 
    
}
li {
    font-family: 'Poppins', sans-serif;  
    justify-content: center;
    align-items: center;   
}




