/* selector de tipo elemento */
h1 {
    color: rgb(6, 60, 129);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

p,h2, h3, h4, ul,li {
    font-family: 'Poppins', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}

li {
    font-family: 'Poppins', sans-serif;  
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
  
}


h4 {
    font-size: larger;
    
}


body {
    background-color:rgb(151, 207, 193);
}
body {
    padding-top: 70px; 
}



/*clase*/ 
.centro {
    text-align:center;
}
.fondoclaro { 
    background-color: rgb(151, 207, 193);
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 


.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para asegurarte de que la barra esté encima de otros elementos */
}
.fixed-nav.navbar {
    height: 60px; /* ajusta el tamaño de la nabvbar*/
}
.fixed-nav .navbar-item {
    font-size: 14px; /* Ajusta el tamaño de letras en la navbar */
    padding-top: 0;
    padding-bottom: 0;
}

/*por id*/
#colorsecciones {
    background-color:rgb(118, 248, 161);
}

#fondolistadatos {
    background-color: rgb(170, 225, 241);
}

#violetaindigo {
    color: rgb(3, 50, 204)
}

/* foro de comentarios */

body {
	font-family: Arial, sans-serif;
}

#comentario-form {
	width: 50%;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#comentarios {
	width: 50%;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comentario {
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.comentario .nombre {
	font-weight: bold;
}

.comentario .texto {
	margin-top: 10px;
}

