/* selector de tipo elemento */
h1 {
  color: rgb(6, 60, 129);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
    
}

p, h3, h4, ul {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
    
    
}

li {
  font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 


h4 {
    font-size: larger;
    
}


body {
    background-color:rgb(182, 218, 204);
}
body {
  padding-top: 70px; /* Ajusta el espacio entre el contenido y la navbar*/
}

.field {
    margin-bottom: 0.5rem; /* Reduce el espacio entre los campos */
  }
  .label {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente de las etiquetas */
  }
  .input, .textarea, .select {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente en los inputs y textarea */
    padding: 0.5rem; /* Reduce el padding interno */
  }
  .button {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente en los botones */
    padding: 0.5rem 1rem; /* Reduce el padding interno en los botones */
  }
  .help {
    font-size: 0.75rem; /* Reduce el tamaño de la fuente en los mensajes de ayuda */
  }

  .fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para asegurarte de que la barra esté encima de otros elementos */
  }
.fixed-nav.navbar {
    height: 60px; /* ajusta el tamaño de la nabvbar*/
  }
.fixed-nav .navbar-item {
    font-size: 14px; /* Ajusta el tamaño de letras en la navbar */
    padding-top: 0;
    padding-bottom: 0;
}

/* Estilos del test */
body {
	font-family: Arial, sans-serif;
}

#test-form {
	width: 50%;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pregunta {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="radio"] {
	margin-right: 10px;
}


#resultados {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}

#enviar-test {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#enviar-test:hover {
	background-color: #3e8e41;
}
