/* selector de tipo elemento */
h1 {
    color: rgb(6, 60, 129);
    font-style: italic;
    text-align: center;
    
}

p, h3, h4, ul {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}

li {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 


h4 {
    font-size: larger;
    
}

h3 {
    text-decoration: underline;
}
body {
    background-color:rgb(182, 218, 204);
}

.field {
    margin-bottom: 0.5rem; /* Reduce el espacio entre los campos */
  }
  .label {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente de las etiquetas */
  }
  .input, .textarea, .select {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente en los inputs y textarea */
    padding: 0.5rem; /* Reduce el padding interno */
  }
  .button {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente en los botones */
    padding: 0.5rem 1rem; /* Reduce el padding interno en los botones */
  }
  .help {
    font-size: 0.75rem; /* Reduce el tamaño de la fuente en los mensajes de ayuda */
  }