/* selector de tipo elemento */
h1 {
    color: indigo;
    font-style: italic;
    text-align: center;
    
}

p, h2, h3, h4, li, ul {
    font-style: italic;
    font-size:x-large;
    
}

h4 {
    text-align: center;
}

/* h3 clase*/ 
.centro {
    text-align:center;
}

.h2tamaño{
    font-size: xx-large;
    text-align: center;
}

/* id alinear imagen */ 
.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

body {
    background-color:rgb(243, 238, 243);
}

#colorsecciones {
    background-color:rgb(238, 218, 255);
}

#fondolistadatos {
    background-color: rgb(198, 189, 207);
}