/*por clase*/

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 

.notification-is-primary {
    background-color: #f5f7f8; /* Color fondo del cuadro presentación*/
   
}
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para asegurarte de que la barra esté encima de otros elementos */
}
.fixed-nav.navbar {
    height: 60px !important; /* Forzar el tamaño de la navbar */
}

.fixed-nav .navbar-item {
    font-size: 14px; /* Ajusta el tamaño de letras en la navbar */
    padding-top: 0;
    padding-bottom: 0;
}
.fixed-nav {
    z-index: 1000; /* Asegúrate de que sea mayor que otros elementos */
}

  
/*por id*/
#cuadro {background-color: rgb(255, 255, 255);}




/*por elemento*/
body {
    padding-top: 70px !important; /* Asegura que el contenido no quede oculto */
}

body{background-color: rgb(151, 207, 193);
}

h1 {
    color: rgb(6, 60, 129);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

p, ul {
    font-family: 'Poppins', sans-serif;  
    font-size:larger; 
    justify-content: center;
    align-items: center;
}
h5{    
    color: rgb(2, 43, 92);
    font-family: 'Poppins', sans-serif; 
    
}
li {
    font-family: 'Poppins', sans-serif;  
    justify-content: center;
    align-items: center;   
}




