/* selector de tipo elemento */
h1 {
    color: rgb(6, 60, 129);
    font-style: italic;
    text-align: center;
    
}

p, h3, h4, ul {
    font-family: 'Poppins', sans-serif; 
    font-size:larger; 
    justify-content: center;
    align-items: center;
}

li {
    font-family: 'Poppins', sans-serif; 
    justify-content: center;
    align-items: center;   
}

.alinear-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 


h4 {
    font-size: larger;
    
}

h3 {
    text-decoration: underline;
}
body {
    background-color:rgb(182, 218, 204);
}

/* imagenes */
.contenedor {
    display: flex;
    align-items: flex-start;
    position: relative; /* Permite que los hijos sean posicionados relativamente */
  }
  
  .imagen-izquierda {
    width: 250px; /* Ajusta el tamaño de la imagen */
    margin-right: 20px;
    position: relative; /* Posiciona la imagen relativamente al contenedor */
    left: -100px; /* Mueve la imagen hacia la izquierda fuera del contenedor */
  }
  